*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.center{
    text-align: center;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}

#navbar::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    opacity: 0.4;
}

.logo{
    margin-left: 55px;
}

.logo img{
    height: 100px;
    margin-left: 5px;
    margin-top: 10px;
}

#navbar h1{
    margin-right: 10px;
    color: white;
}

#navbar ul{
    display: flex;
    margin-left: auto;
    order: 2;
}

#navbar ul li{
    list-style: none;
    /* padding: 10px; */
    margin-right: 55px;
    /* text-align: right; */
}

#navbar ul li a{
    text-decoration: none;
    color: white; 
    /* transition: all 0.5s ease;  */
}

#navbar ul li a:hover{
    border-bottom: 4px solid red;
}

#navbar ul li a.active{
    border-bottom: 4px solid red;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 235px;
}

#home h1{
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: bolder;
    padding: 34px;
    color: white;
    text-align: center;
}

#home::before{
    content: "";
    position: absolute;
    height: 80%;
    width: 100%;
    top: -170px;
    left: 0;
    background: url("/img/convocation.jpeg") no-repeat center center/cover;
    z-index: -1;
    opacity: 0.4;
}

#overlay{
    display: flex;
    flex-direction: column;
}

#overlay::before{
    content: "";
    position: absolute;
    background: black;
    width: 100%;
    height: 80%;
    top: -170px;
    opacity: 0.9;
    z-index: -1;
}

#courses h1{
    margin-top: 160px;
    padding: 20px;
}

.courses-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-item{
    width: 320px;
    height: 160px;
    background-color: rgb(240, 228, 220);
    margin: 40px;
    padding: 12px 21px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.card-item:hover{
    box-shadow: 2px 2px 15px #9e9e9e;
}

.card-item h2{
    margin: 10px;
}

#facilities h1{
    padding: 20px;
    margin-top: 50px
}

.facility-card-item img{
    height: 220px;
    width: 360px;
    border-radius: 10px;
}

.facility-card-item{
    width: 360px;
    margin: 55px 30px 0px 30px;
}

.facility-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.facility{
    width: 360px;
    margin: 5px 0px;
    /* padding: 10px; */
}

.facility p{
    font-size: 12px;
    color: grey;
    padding: 10px 0px;
}

.about-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-card-item{
    width: 450px;
    height: 300px;
    margin: 200px 35px;
}

.about-card-item h2{
    padding: 17px;
    font-size: 2rem;
    margin-top: -10px;
}

.about-card-item p{
    padding: 17px;
    font-size: 14px;
    color: grey;
}

.about-card-item img{
    width: 550px;
    border-radius: 10px;
}

.about-card button{
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin: 10px 17px;
    width: 150px;
    display: block;
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    text-align: center;
    font-size: 13px;
    color: red;
    text-transform: uppercase;
}

.about-card button:hover{
    background-color: red;
    color: white;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1050px;
    height: 330px;
    margin: 0px 40px 0px 209px;
    padding: 15px;
}

#about h4{
    margin: 20px;
    font-weight: bolder;
    padding: 10px 11px
}

#about .about{
    font-size: 13px;
    color: grey;
    padding: 15px 226px
}

.icon i{
    padding: 10px;
    font-size: 15px;
    color: red;
}

#about .made{
    font-size: 13px;
    color: grey;
    margin-bottom: -30px;
    padding: 15px;
}